* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6e9f0;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 10;
}

.trademark {
    z-index: 1;
    position: fixed;
    left: 162px;
    padding: 4px;
}

.list {
    position: fixed;
    width: 100%;
    background-color: #bccbde;
    padding: 20px;
}

.li {
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
}

.lif {
    color: #80142a;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    font-family: Muli, sans-serif;
    position: relative;
    left: 500px;
    font-weight: 700;
    padding: 10px 4px;
    letter-spacing: 0;
}

/* .lif:hover{
    box-shadow: 0 0 50px #910a0a ;
} */
.icon1 {
    position: fixed;
    left: 1240px;
    top: 15px;
    cursor: pointer;
}

.icon2 {
    position: fixed;
    left: 1280px;
    top: 20px;
    cursor: pointer;
}

.icon3 {
    position: fixed;
    left: 1316px;
    top: 20px;
    cursor: pointer;
}

.items {
    margin-left: -127px;
}

.freshcafe {
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    word-spacing: 7px;
    color: rgb(62, 60, 60);
    border-bottom: 1px solid #80142a;
    border-width: 6px;
    width: 500px;
    margin-left: 505px;
    padding-top: 70px;
    line-height: 88px;
}

.freshcafedesc {
    color: #3d3f3f;
    padding-top: 40px;
    margin-left: 217px;
    margin-right: 244px;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.row1price {
    text-align: center;
    color: #525d63;
    line-height: 24px;
    font-size: 17px;

}

.row2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: -10px;
}

.row3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: -9px;
}

.li :hover {
    color: white;
    /* text-decoration: underline ; */
}

.products {
    position: relative;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    opacity: 0;
    cursor: pointer;
}

.overlay:hover {
    opacity: 1;
    transition-duration: 0.3s;
}

.navbar {
    z-index: 9;
}

.modal1 {
    box-shadow: 0 10px 25px #00000080;
    border-radius: 5px;
    padding: 20px;
    z-index: 10;
    height: 576px;
    width: 1110px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    display: none;
}

.crossicon {
    position: absolute;
    left: 1090px;
    top: 24px;
    cursor: pointer;
}

.modal1content {
    padding-left: 40px;
    padding-top: 5px;
}

.modal1content {
    display: flex;
    flex-direction: column;
}

.modal1content-head {
    font-size: 18px;
    line-height: 35px;
    margin: 0 auto 15px 0;
    font-family: Muli, sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #3e4552;
    display: block;
    letter-spacing: 3px;
    position: inherit;
}

.modal1content-price {
    font-family: Muli, sans-serif;
    font-size: 22px;
    color: #525d63;
    text-shadow: none;
}

.modal1content-desc1 {
    margin: 0 0 15px;
    font-style: normal;
    line-height: 1.8em;
    max-width: 100%;
    font-family: Muli, sans-serif;
    color: #525d63;
    overflow-wrap: break-word;
    padding-top: 13px;
    font-size: 14px;
}

.modal1content-desc2 {
    color: #c84661;
    font-family: Muli, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 4px;
    cursor: pointer;

}

.modal1sepline {
    padding-top: 17px;
}

.sizetag {
    margin-top: 3px;
}

.modal1content label {
    display: block;

    font-size: 13px;
    text-transform: uppercase;
    color: #525d63;
    font-family: Muli, sans-serif;
    line-height: 1.8em;
    font-weight: 550;
    letter-spacing: 1px;
    padding-top: 10px;

}

.inputbox {
    width: 510px;
    height: 40px;
    border: 1px solid #d9dbdc;
    border-radius: 3px;
    /* padding: 10px 9px 8px; */
    color: #5f6a7d;
}

.option {
    color: #5f6a7d;
}

.quantityinput {
    padding-top: 11px;
    height: 30px;
    border-radius: 2px;
    padding-bottom: 11px;
    width: 42px;
    padding: 8px 5px;
    border: 1px solid #dfdfdf;
    color: #5f6a7d;
}

.addtocart {
    border: 1px solid #8b152d;
    background-color: transparent;
    border: 1px solid #c84661;
    color: #c84661;
    box-shadow: none;
    line-height: 1.2;
    padding: 10px 0;
    min-height: 44px;
    width: 230px;
    font-family: Muli, sans-serif;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
}

.buyitnow {
    margin-left: 8px;
    border: 1px solid #8b152d;
    background-color: #c84661;
    border: 1px solid #c84661;
    color: white;
    box-shadow: none;
    line-height: 1.2;
    padding: 10px 0;
    min-height: 44px;
    width: 230px;
    font-family: Muli, sans-serif;
    cursor: pointer;
    border-radius: 3px;
}

.modal1content-desc3 {

    color: #5f6a7d;
    font-family: Muli, sans-serif;
    font-size: 13px;
    padding-top: 20px;
    line-height: 21px;
    padding-top: 32px;
}

.feedbacklink {
    color: #5f6a7d;
}

.modal1content-desc3 img {
    position: absolute;
    left: 560px;
}

.buyitnow:hover {
    background-color: #8b152d;
    transition-duration: 0.4s;
}

.addtocart:hover {
    border: 1px solid #8b152d;
    color: #8b152d;
    transition-duration: 0.2s;
}

.modaloverlay {
    z-index: 9;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

.searchpopupcontainer {
    position: fixed;
    top: 100px;
    left: 30%;
    z-index: 5;
    display: none;
}

.searchhere {
    width: 600px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
    padding: 7px;
    outline: none;
    border: none;

}

.modaloverlayp {
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.openedbar {
    display: block;
}

.loginformcontainer {
    padding: 30px;
    position: relative;
    top: 12px;
    right: 79px;
    width: 352px;
    height:325px;
    background-color: #fff;
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    font-family: 'Mooli', sans-serif;
    display: none;
}

.loginhead {
    font-family: 'Mooli', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #010101;
    text-align: center;
}

.emailorphonelable {
    font-size: 18px;
    color: #010101;
    display: block;
    font-family: 'Mooli', sans-serif;
    padding-top: 30px;
}

.emailorphoneinput {
    display: block;
    border: 1px solid silver;
    height: 37px;
    border-radius: 4px;
    width: 280px;
    padding-right: 30px;
}

.loginpasslable {
    font-size: 18px;
    color: #010101;
    display: block;
    font-family: 'Mooli', sans-serif;
    padding-top: 20px;
}

.loginpassinput {
    display: block;
    border: 1px solid silver;
    height: 37px;
    border-radius: 2px;
    width: 280px;
    padding-right: 30px;
}

.forgotpass {
    text-decoration: none;
    color: #010101;
    display: block;
    padding-top: 8px;

}

.forgotpass:hover {
    text-decoration: underline #010101;
}

.loginbtn {
    position: relative;
    height: 37px;
    width: 311px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    background: -webkit-linear-gradient(right, #2d3131, #0f0d10, #65dde8, #033a3e);
    margin-top: 17px;
}

.loginbtn:hover {
    background: -webkit-linear-gradient(right, #033a3e, #65dde8, #0f0d10, #2d3131);
    transition: all 0.4s;
}

.notmember {
    position: relative;
    padding-top: 18px;
    left: 98px;
}

.signup {
    position: relative;
    padding-top: 12px;
    left: 110px;
}

.signup:hover {
    color: #80142a;
}

.logincross {
    position: absolute;
    left: 13px;
    bottom: 335px;
}

.openedlogin {
    display: block;
}

.popupcontainer {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: right;
    display: none;
}

.opencart {
    display: flex;
}

.cartcrossbtn {
    position: relative;
    left: 163px;
    top: 23px;
    cursor: pointer;
}

.sidepopup p {
    position: relative;
    top: 95px;
}

.sidepopup {
    height: 800px;
    width: 400px;
    display: block;
    position: relative;
    text-align: center;
    font-size: 22px;
    padding-top: 44px;
    letter-spacing: 3px;
    font-family: sans-serif;
    color: #fff9;
    font-weight: 600;
    background: rgba(21, 20, 20, 0.7);
}